html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,
b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,time,mark,audio,a {font-family:Tahoma;font-size:16px;
line-height:30px;position:relative;color:#333;margin:0;padding:0;border:0;outline:0;background:transparent;}

body{background:url("../images/bg-slash.png") repeat;}
.wrapper{width:1000px;margin:0 auto;position:relative;background:transparent;}
#header{clear:both;height:80px;position:relative;text-align:center;top:40px;z-index:350;}
#header #menu{background:url("../images/menu.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  height:62px;line-height:62px;position:absolute;left:0;width:1050px;}
#header #menu ul{}
#header #menu ul li{float:left;}
#header #menu ul li.separator{width:1px;height:12px;background:#ccc;margin:23px 8px 0 8px;}
#header #menu ul li a{float:left;font-weight:bold;margin:14px 10px;text-decoration:none;font-size:13px;}
#header #menu ul li.current a{color:#006ed0;}

#footer{border-top:1px solid #ccc;padding:10px 0;}
#footer ul li{float:left;margin:0 10px;color:#666}
#footer ul li.sep{color:#aaa;}
#footer ul li a{color:#666;text-decoration:none;}

table {border-collapse:collapse;border-spacing:0;}
table tr th, td{text-align:left;padding:0;border:0px solid red;}
textarea {overflow:auto;}
img {border:0;}
a,a:hover,a:active,a:visited{color:#333;}
hr {display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ul{list-style-type:none;}
sub {vertical-align:sub;font-size:85%;}
sup {vertical-align:super;font-size:85%;}
cufon{height:20px!important;}

.left{float:left;}
.right{float:right}
.desc{color:#252120;}
.timestamp{color:#177B01;font-size:8px;font-weight:bold;}
.error_message, ul.error_list li {color:red;}
.flash{text-align:center;bakground:none repeat scroll 0 0 rgba(255, 255, 255, 0.8);box-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
color:#177B01;font-weight:bold;padding:10 0px;width:970px;margin:0 15px;
}

input.field{border:1px solid #cdcdcd;margin:5px 0;width:243px;height:28px;color:#888;padding:3px 6px;border-radius:3px;}
textarea.field{border:1px solid #cdcdcd;margin:5px 0;width:508px;height:250px;color:#888;padding:3px 6px;border-radius:3px;}
a.button{border:0;float:left;margin:1px 0 0 0;padding:5px 20px;color:#fff;text-decoration:none;background:#006ed0;border-radius:3px;}

.fff{color:#fff;}
.red{color:red;}
.gray{color:gray;}
.bold{font-weight:bold;}
.justify{text-align:justify;}
.blue{color:#006ed0!important;}
.orange{color:#F26222!important;}

.page{position:relative;display:block;min-height:655px;width:100%;padding:25px 0;}
.page h2 {color:#fff;font-size:30px;font-weight:900;letter-spacing:-1px;line-height:40px;text-transform:uppercase;
  margin:0 0 10px;text-align:left;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.4);font-family:Open Sans Condensed;}
.bg-blue{background:url("../images/bg-blue.png") repeat;}
.bg-bluenew{background:url("../images/bg-blue2.jpg") repeat scroll -137px 0 rgba(0, 0, 0, 0.2);}
.bg-dark-blue{background:url("../images/bg-dark-blue.png") repeat;}
/*.bg-gray{background:url("../images/bg-gray.png") repeat;}*/
.bg-gray{background:#e6e6e6;}
.bg-dark-gray{background:url("../images/bg-dark-gray.png") repeat;}
.bg-black{background:url("../images/bg-black.png") repeat;}
.bg-slash{background:url("../images/bg-slash.png") repeat;}
.bg-yellow{background:url("../images/bg-yellow.png") repeat;}
.bg-white{background:#fff;}
.bg-orange{background:#F26222;}  

/* ---- home -------------------------------------------------------------------------------------- */
#floater{position:absolute;right:10px;top:-40px;border:0;background:#fff;
         color:#777;box-shadow:0 2px 7px #aaa;font-size:14px;
         border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding:0px 15px;}
         
.home-box {background:rgba(0, 0, 0, 0.2);border-radius:4px;float:left;height:145px;width:323px;
           margin:0 15px 0 0;position:relative;vertical-align:top;}
.home-box a {text-decoration:none;}
.home-box h2 {line-height:30px!important;}
.home-box ul.list {float:left;margin:0 0 0 10px;}
.home-box ul.list li{float:left;font-size:12px;color:#333;line-height:14px;font-weight:bold;}

/* ---- product -------------------------------------------------------------------------------------- */
ul#product-category{width:230px;background:#fff;padding:0;margin:0 15px 0 0;float:left;}
ul#product-category li a{text-decoration:none;background:#fff;border-bottom:1px dotted #ccc;
                         padding:5px 20px;display:block;width:190px;}
.product-box{box-shadow:0 3px 8px rgba(0,0,0, 0.2);width:220px;height:220px;margin:0 10px 10px 0;padding:10px;
             background:#fff;position:relative;float:left;text-align:center;}
.product-box h3{width:200px;margin:0;padding:2px 20px;text-transform:uppercase;
                background:#006ED0;color:#fff;font-weight:bold;}
.product-box .trans{width:220px;margin:0;padding:5px 10px;text-transform:;line-height:20px;font-size:13px;
                    background:rgba(0,110,208,0.2);background:rgba(0,110,208,0.9);color:#fff;font-weight:bold;
                    position:absolute;bottom:0;left:0;height:60px;text-align:left;line-height:20px;z-index:1000;}
			
/* ---- service -------------------------------------------------------------------------------------- */
ul#service{margin:0 auto;width:250px;border-left:1px solid #006ed0;padding:0 0 0 40px;float:right;}
ul#service li{color:#fff;float:left;}
ul#service li h3{color:#fff;}
ul#service li ul.list_nested{color:#fff;float:left;padding:0 0 0 30px;text-align:left;}


/* ---- contact -------------------------------------------------------------------------------------- */
ul.contactus {margin:10px 0 10px 55px;padding:0;text-align:center;}
ul.contactus li {margin:0;padding:0;float:left;width:120px;text-align:center;}
ul.contactus li a {margin:0;font-family:'Roboto Condensed';font-size:20px;text-decoration:none;
  text-transform:uppercase;}
ul.contactus li a .name {color:#888;}
ul.contactus li a .link {color:#177B01;text-transform:uppercase;}
ul.contactus li:hover a .link{text-decoration:underline;}


/* ---- pager -------------------------------------------------------------------------------------- */
.pager {margin:0;padding:0;width:100%;}
.pager a {float:left;margin:1px;padding:5px 12px;background:#04888A;border:0;color:#fff;font-weight:bold;}
.pager a:hover {background:#fff;color:#000;border:0;}
.pager a.selected {background:#fff;color:#000;border:0;}
.pager .total{float:right;margin:5px 0 0 0;font-style:italic;}


/* ---- jobs -------------------------------------------------------------------------------------- */
.jobs-box{float:left;height:450px;margin:0 13px 13px 0;padding:0;background:#F3F3F3;border:1px solid #bbb;box-shadow:0 2px 3px 0px rgb(194,192,188);}
.jobs-box h3{padding:20px 20px 10px 20px;color:#555;font-size:26px;letter-spacing:-1px;
 font-family:Open Sans Condensed;font-weight:normal;}
.jobs-box span{padding:10px 20px;color:#888;font-size:14px;font-family:Open Sans Condensed;font-weight:normal;}

